@model GameRetailer.Models.CabecalhoGuia

@{
    ViewBag.Title = "Cabeçalho de Guia";
}

<h3>Tem a certeza que deja eliminar este cabeçalho?</h3>
<div>
    <h4>Cabecalho da Guia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Data de Emissão")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEmissao)
        </dd>

        <dt>
            @Html.DisplayName("Código Postal")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Armazem.CodPostal)
        </dd>

        <dt>
            @Html.DisplayName("Cliente")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt>
            @Html.DisplayName("Distribuidor")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distribuidor.Nome)
        </dd>

        <dt>
            @Html.DisplayName("Viatura")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Viatura.Marca)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        @*@Html.ActionLink("Back to List", "Index")*@
        <button class="btn btn-default" type="button" onclick="location.href='@Url.Action("Index")'">Voltar</button>
        
    </div>
    }
</div>
