@model GameRetailer.Models.CabecalhoGuia

@{
    ViewBag.Title = "Cabecalho da Guia";
}

<div>
    <h4>Detalhes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Data de Emissão")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEmissao)
        </dd>

        <dt>
            @Html.DisplayName("Código Postal")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Armazem.CodPostal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distribuidor.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distribuidor.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Viatura.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Viatura.Marca)
        </dd>

    </dl>
</div>
<p>
    <button class="btn btn-default fa fa-edit" type="button" onclick="location.href='@Url.Action("Edit", new { id = Model.NumGuia })'"></button>

    @*@Html.ActionLink("Edit", "Edit", new { id = Model.NumGuia }) |*@
    <button class="btn btn-default" type="button" onclick="location.href='@Url.Action("Index")'">Voltar</button>
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
