<!DOCTYPE html>
<html style="height: auto; min-height: 100%;">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css") @Scripts.Render("~/bundles/modernizr")
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>

<body class="skin-black-light fixed sidebar-mini">
    <div class="wrapper" style="height: auto; min-height: 100%;">
        <header class="main-header">

            <!-- Logo -->
            <a href="@Url.Action("Index", "Home")" class="logo">
                <span class="logo-mini"><b style="color:#00c0ef;">G</b>R</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b style="color:#00c0ef;">Game</b>Retailer</span>
            </a>

            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        @if (@User.Identity.IsAuthenticated)
                        {
                            <!-- User Account: style can be found in dropdown.less -->
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="~/admin-lte/img/avatar5.png" class="user-image" alt="User Image">
                                    <span class="hidden-xs">@User.Identity.Name</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    <li class="user-header">
                                        <img src="~/admin-lte/img/avatar5.png" class="img-circle" alt="User Image">

                                        <p>
                                            @User.Identity.Name - Web Developer
                                        </p>
                                    </li>

                                    <!-- Menu Footer-->
                                    <li class="user-footer">

                                        <div class="pull-right">
                                            <a href="@Url.Action("Logout", "Account")" class="btn btn-default btn-flat">Sign out</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <!-- Control Sidebar Toggle Button -->
                        }
                        else
                        {
                            <li class="dropdown user user-menu">
                                @Html.ActionLink("Registar", "Register", "Account", new { area = "" }, new { @class = "hidden-xs" })
                            </li>
                            <li class="dropdown user user-menu">
                                @Html.ActionLink("Entrar", "Login", "Account", new { area = "" }, new { @class = "hidden-xs" })
                            </li>

                        }

                    </ul>
                </div>

            </nav>
        </header>
        <aside class="main-sidebar ">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="~/admin-lte/img/avatar5.png" class="img-circle" alt="User Image">
                        </div>
                        <div class="pull-left info">
                            <p>@User.Identity.Name</p>
                            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    </div>
                }

                <ul class="sidebar-menu tree" data-widget="tree">

                    <li>
                        <a href="@Url.Action("List", "Stocks")">
                            <i class="fa fa-shopping-cart"></i>
                            <span>Loja</span>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("About", "Home")">
                            <i class="fa fa-info"></i>
                            <span>Sobre nós</span>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Contacts", "Home")">
                            <i class="fa fa-phone"></i>
                            <span>Contactos</span>
                        </a>
                    </li>
                    @*<li>
                            <a href="@Url.Action("Create", "Armazens")">
                                <i class="fa fa-plus"></i>
                                <span>Adicionar Armazém</span>
                            </a>
                        </li>*@


                    @if (@User.IsInRole("Admin"))
                    {
                        <li class="header text-center">ADMINISTRAÇÃO</li>
                        <li class="treeview">
                            <a href="#"><i class="fa fa-user-plus"></i><span>Membros</span> <i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                @*<li>
                                        <a href="@Url.Action("Index", "Account")">
                                            <i class="fa fa-search"></i>
                                            <span>Ver Armazéns</span>
                                        </a>
                                    </li>*@
                                <li>
                                    <a href="@Url.Action("Register", "Account")">
                                        <i class="fa fa-plus"></i>
                                        <span>Adicionar Membro</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        @*<li class="treeview">
                                <a href="@Url.Action("Register", "Account")">
                                    <i class="fa fa-user-plus"></i> <span>Registar Membros</span>
                                </a>
                            </li>*@
                    }
                    @if (@User.IsInRole("Admin") || User.IsInRole("DArmazens"))
                    {
                        <li class="header text-center">DEPARTAMENTOS</li>
                        <li class="treeview">
                            <a href="#"><i class="fa fa-home"></i><span>Armazéns</span> <i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li>
                                    <a href="@Url.Action("Index", "Armazens")">
                                        <i class="fa fa-search"></i>
                                        <span>Ver Armazéns</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Create", "Armazens")">
                                        <i class="fa fa-plus"></i>
                                        <span>Adicionar Armazém</span>
                                    </a>
                                </li>
                                
                            </ul>
                        </li>
                    }

                    @if (@User.IsInRole("Armazem"))
                    {

                        <li class="treeview">
                            <a href="#"><i class="fa fa-home"></i><span>Armazéns</span> <i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li>
                                    <a href="@Url.Action("Index", "Armazens")">
                                        <i class="fa fa-search"></i>
                                        <span>Ver Armazéns</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Create", "Armazens")">
                                        <i class="fa fa-plus"></i>
                                        <span>Adicionar Armazém</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="treeview">
                            <a href="#"><i class="fa fa-gamepad"></i><span>Jogos</span> <i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li>
                                    <a href="@Url.Action("Index", "Jogos")">
                                        <i class="fa fa-search"></i>
                                        <span>Ver Jogos</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Create", "Jogos")">
                                        <i class="fa fa-plus"></i>
                                        <span>Adicionar Jogo</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }

                    @if (@User.IsInRole("Admin") || User.IsInRole("DClientes"))
                    {
                        <li class="treeview">
                            <a href="#"><i class="fa fa-users"></i><span>Clientes</span> <i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li>
                                    <a href="@Url.Action("Index", "Clientes")">
                                        <i class="fa fa-search"></i>
                                        <span>Ver Clientes</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Create", "Clientes")">
                                        <i class="fa fa-plus"></i>
                                        <span>Adicionar Cliente</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    @if (@User.IsInRole("Admin") || User.IsInRole("DDistribuidores"))
                    {
                        <li class="treeview">
                            <a href="#"><i class="fa fa-send"></i><span>Distribuidoras</span> <i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li>
                                    <a href="@Url.Action("Index", "Distribuidores")">
                                        <i class="fa fa-search"></i>
                                        <span>Ver Distribuidoras</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Create", "Distribuidores")">
                                        <i class="fa fa-plus"></i>
                                        <span>Adicionar Distribuidora</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    @if (@User.IsInRole("Admin") || User.IsInRole("DJogos"))
                    {

                        <li class="treeview">
                            <a href="#"><i class="fa fa-gamepad"></i><span>Jogos</span> <i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li>
                                    <a href="@Url.Action("Index", "Jogos")">
                                        <i class="fa fa-search"></i>
                                        <span>Ver Jogos</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Create", "Jogos")">
                                        <i class="fa fa-plus"></i>
                                        <span>Adicionar Jogo</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Stocks")">
                                        <i class="fa fa-edit"></i>
                                        <span>Gerir stock de jogos</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    @if (@User.IsInRole("Admin") || User.IsInRole("DViaturas"))
                    {
                        <li class="treeview">
                            <a href="#"><i class="fa fa-truck"></i><span>Viaturas</span> <i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li>
                                    <a href="@Url.Action("Index", "Viaturas")">
                                        <i class="fa fa-search"></i>
                                        <span>Ver Viaturas</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Create", "Viaturas")">
                                        <i class="fa fa-plus"></i>
                                        <span>Adicionar Viatura</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    }
                    @if (@User.IsInRole("Admin") || User.IsInRole("DGuias"))
                    {
                        <li class="treeview">
                            <a href="#"><i class="fa fa-file"></i><span>Guias</span> <i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li>
                                    <a href="@Url.Action("Index", "CabecalhoGuias")">
                                        <i class="fa fa-search"></i>
                                        <span>Ver Guias</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Create", "CabecalhoGuias")">
                                        <i class="fa fa-plus"></i>
                                        <span>Adicionar Guia</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        @*<li class="treeview">
                                <a href="@Url.Action("Index", "CabecalhoGuias")">
                                    <i class="fa fa-file-text-o"></i>
                                    <span>Guias</span>
                                </a>
                            </li>*@
                    }
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        @*@if (@User.Identity.IsAuthenticated)
            {

            }
            else
            {

            }*@
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - GameRetailer </p>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/admin-lte/js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/gameretailer")
    @RenderSection("scripts", required: false)
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.2.5/js/dataTables.select.min.js"></script>
    <script>
        $(window).on('resize', function () {
            if ($(window).width() < 1600) {
                $("body").addClass('sidebar-collapse');
            }
            else {
                $("body").removeClass('sidebar-collapse');
            }
        });
    </script>
</body>

</html>