@model GameRetailer.Models.Armazem


@{
    ViewBag.Title = "Armazém";
}

<h3>Tem a certeza que deseja eliminar este armazém?</h3>
<div>

    <h4>Eliminar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Código Postal")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodPostal)
        </dd>

        <dt>
            @Html.DisplayName("Nome")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Morada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Morada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localidade)
        </dd>

        <dt>
            @Html.DisplayName("Proprietário")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login.FName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" />
            @*@Html.ActionLink("Back to List", "Index")*@

        </div>
    }

</div>
<div>
    <button class="btn btn-default" type="button" onclick="location.href='@Url.Action("Index")'">Voltar</button>

</div>