@model GameRetailer.Models.Armazem


@{
    ViewBag.Title = "Armazém";
}
@*<h2>Details</h2>*@

<div>
    <h4>Detalhes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Código Postal")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodPostal)
        </dd>

        <dt>
            @Html.DisplayName("Nome")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Morada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Morada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localidade)
        </dd>

        <dt>
            @Html.DisplayName("Proprietário")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login.FName)
        </dd>

    </dl>
</div>
<p>
    <button class="btn btn-default fa fa-edit" type="button" onclick="location.href='@Url.Action("Edit", new { id = Model.CodArmazem })'"></button>
    <button class="btn btn-default" type="button" onclick="location.href='@Url.Action("Index")'">Voltar</button>

    @*@Html.ActionLink("Edit", "Edit", new { id = Model.CodArmazem }) |*@
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
