@model GameRetailer.Models.Viatura

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Viatura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kms)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Matricula }) |*@
    <button class="btn btn-default fa fa-edit" type="button" onclick="location.href='@Url.Action( "Edit", new { id = Model.Matricula })'"></button>

    <button class="btn btn-default" type="button" onclick="location.href='@Url.Action("Index")'">Voltar</button>

</p>
