@model GameRetailer.Models.Stock

@{
    ViewBag.Title = "Stock";
}


<div>
    <h4>Stock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jogo.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jogo.Nome)
        </dd>

    </dl>
</div>
<p>

    <button class="btn btn-default fa fa-edit" type="button" onclick="location.href='@Url.Action("Edit", new { id = Model.NumJogo })'"></button>

    <button class="btn btn-default" type="button" onclick="location.href='@Url.Action("Index")'">Voltar</button>


</p>
