@model IEnumerable<GameRetailer.Models.Compra>

@{
    ViewBag.Title = "Compras";
}
<br />
<div class="box box-info">
    <div class="box-header">
        @*<h3 class="box-title">Clientes</h3>*@
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-sm-12">
                    <table id="datatable" class="table table-striped table-bordered" role="grid" aria-describedby="example1_info">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("Data")
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Quantidade)
                                </th>
                                <th>
                                    @Html.DisplayName("Armazém")
                                </th>
                                <th>
                                    @Html.DisplayName("Jogo")
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderBy(x => x.DataCompra))
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DataCompra)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantidade)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Armazem.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Jogo.Nome)
                                    </td>
                                    <td>
                                        <button class="btn btn-default fa fa-edit" type="button" onclick="location.href='@Url.Action("Edit", new { id = item.NumCompra })'"></button>
                                        <button class="btn btn-default fa fa-list" type="button" onclick="location.href='@Url.Action("Recibo", new { id = item.NumCompra })'"></button>
                                        <button class="btn btn-danger fa fa-close" type="button" onclick="location.href='@Url.Action("Delete", new { id = item.NumCompra })'"></button>
                                    </td>
                                </tr>
                            }


                        </tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
</div>
@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').DataTable({
                "bJQueryUI": false,
                "bAutoWidth": false,
                "oLanguage": {
                    "sProcessing": "A processar...",
                    "sLengthMenu": "Mostrar _MENU_ registos",
                    "sZeroRecords": "Não foram encontrados resultados",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registos",
                    "sInfoEmpty": "Mostrando de 0 até 0 de 0 registos",
                    "sInfoFiltered": "(filtrado de _MAX_ registos no total)",
                    "sInfoPostFix": "",
                    "sSearch": "Procurar:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "Primeiro",
                        "sPrevious": "Anterior",
                        "sNext": "Seguinte",
                        "sLast": "Último"
                    }
                }
            });
        });
    </script>
}

