@model GameRetailer.Models.DetalheGuia

@{
    ViewBag.Title = "Detalhes da Guia";
}


<div>
    <h4>Detalhe da Guia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CabecalhoGuia.Matricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CabecalhoGuia.Matricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jogo.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jogo.Nome)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.NumDGuia }) |*@
    <button class="btn btn-default fa fa-edit" type="button" onclick="location.href='@Url.Action( "Edit", new { id = Model.NumDGuia })'"></button>

    <button class="btn btn-default" type="button" onclick="location.href='@Url.Action("Index")'">Voltar</button>

</p>
