@model IEnumerable<GameRetailer.Models.DetalheGuia>

@{
    ViewBag.Title = "Detalhes da Guia";
}



<h4>Detalhes</h4>
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CabecalhoGuia.Matricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jogo.Criadora)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CabecalhoGuia.Matricula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Jogo.Criadora)
        </td>
        <td>
            <button class="btn btn-default fa fa-edit" type="button" onclick="location.href='@Url.Action("Edit", new { id = item.NumDGuia })'"></button>
            <button class="btn btn-default fa fa-list" type="button" onclick="location.href='@Url.Action("Details", new { id = item.NumDGuia })'"></button>
            <button class="btn btn-danger fa fa-close" type="button" onclick="location.href='@Url.Action("Delete", new { id = item.NumDGuia })'"></button>
        </td>
    </tr>
}

</table>
